* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  padding: 10px;
}
.logo img {
  width: 20%;
  margin-left: 100px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-right: 100px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #5e5c5c;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #e65100;
  transition: 0.5;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.btn1 .btn2 {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 10px;
  color: #999;
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.connecter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 90px;
  gap: 5px;
}
.connecter a {
  text-decoration: none;
}
.connecter .btn1 {
  background-color: white;
  color: #5e5c5c;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 10%;

  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
  padding-bottom: 10px;
}
.connecter .btn2 {
  background-color: #e65100;
  color: white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 10%;

  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
  padding-bottom: 10px;
}

/* .connecter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 90px;
} */
/* 


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 20%; 
    margin-right: -170px;
   
}
.navig ul li{
    padding: 20px 25px;
      justify-content: space-between;
       
}
.navig ul li a{
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    color: #999;
    gap: 20px;
    justify-content: center;
   
    
}
.navig ul li a.active{
    background-color: #e65100;
    transform: none;
    text-underline-offset: 10px;
    transition: 0.5s;
  color: white;
   padding: 10px;
   border-radius: 10px;
}
.navig ul li a:hover{
    padding: 10px;
    background-color: #e65100;
   color: white;
   border-radius: 10px;
     transform: rotate(10deg);
    text-underline-offset: 10px;
    transition: 0.5s;
   
}

.btn1{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    font-size: 14px;
    border-radius: 10px;
    color: #999;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.connecter a{
    text-decoration: none;
    color: white;
} */


/* .btn2{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    font-size: 14px;
    border-radius: 10px;
    color: white;
   
    padding: 10px;
    background-color: #e65100;
    cursor: pointer;
}
.btn2 h4:hover{
    transition: 0.5s;
} */

.accueil {
  position: relative;
  background-image: linear-gradient(
      rgba(223, 91, 20, 0.534),
      rgba(218, 94, 27, 0.596)
    ),
    url("image/banner-head-accueil.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}


 .accueil-text{
  position: absolute;
 margin-top: 10%;
  margin-left: 100px;
  color: white;
}
.accueil-text h1{
    font-size: 40px;
    font-weight: bold;
}
.accueil-text span{
    color: #ffb300;
} 
 /* .content-img {
    position: relative;
}  */

.content-img img {
     position: absolute;
    bottom: 40%;
    left: 70%;
    transform: translateX(-50%);
    width: 30%;
    max-width: 350%;
    margin-top: 50px;
    height: 30%;
    border-radius: 10px; 
}


.content-card {
    background-color: #fff3e0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.content-card .mention {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
  
    width: 22%; /* 4 cartes */
    border-radius: 15px;
    text-align: center;
}
.content-card .mention p span{
   color: #e65100;
   font-weight: bold;
    padding: 20px;
    width: 22%; /* 4 cartes */
    border-radius: 15px;
    text-align: center;
}

/* .content-card {
  background-color: #fff3e0;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-around;
    
}
.content-card .mention {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 50px;
  width: 20%;
  height: 60%;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
   flex-wrap: nowrap;
}
.content-card .mention p {
  font-size: 12px;
  text-align: center;
}
.content-card .mention p span {
  color: #e65100;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
} */
.service {
  text-align: center;
  margin-top: 50px;
}
.service p {
  color: #5e5c5c;
}
.box {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.box .text-box {
  box-shadow: 5px 5px 30px rgba(255, 243, 224, 1);
  padding: 20px;
  background-color: #ffb380;

  margin-left: 50px;
  border-radius: 10px;
}
.box .text-box h3 {
  color: #632e11;
}
.box .text-box h4 {
  text-decoration-line: underline;
  color: #e65100;
}

.box .text-box1 {
  box-shadow: 5px 5px 30px rgba(255, 243, 224, 1);
  padding: 20px;
  background-color: #fff3e0;
 
  margin-left: 60px;
  border-radius: 10px;
}
.box .text-box1 h3 {
  color: #632e11;
}
.box .text-box1 h4 {
  text-decoration-line: underline;
  color: #e65100;
}

.box .text-box2 {
  box-shadow: 5px 5px 30px rgba(255, 243, 224, 1);
  padding: 20px;
  background-color: #ffb380;
 
  margin-left: 60px;
  margin-right: 90px;
  border-radius: 10px;
}
.box .text-box2 h3 {
  color: #632e11;
}
.box .text-box2 h4 {
  text-decoration-line: underline;
  color: #e65100;
}
h2 {
  text-align: center;
  margin-top: 90px;
  padding: 20px;
  padding-top: 50px;
}
.localite {
  background-color: #fff3e0;
   width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
}


.localite iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 20px;
}

.title {
  text-align: center;
  margin-top: 10px;
}
.card {
  display: flex;

  margin-top: -10px;
  justify-content: space-between;
  padding: 20px 20px;
}
.card .clients {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: 50px;
  padding: 20px;
  
  height: 170px;
}
.card .clients .icone {
  justify-content: space-between;
  margin-left: 5px;
  background-color: #e6dfdf;
  height: 50px;
  width: 50px;
  font-weight: bold;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 10px;
  font-size: 19px;
  border: 2px solid #ffb300;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.card .clients .para {
  margin-left: 60px;
  margin-top: -25px;
}
.card .clients i {
  text-align: center;
  font-size: 8px;
  justify-content: end;
  color: #ffb300;
}
.card .clients p {
  font-size: 12px;
}
.card .clients1 {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: 50px;
  padding: 20px;
  
  height: 170px;
}
.card .clients1 .icone {
  justify-content: space-between;
  margin-left: 5px;
  background-color: #e65100;
  height: 50px;
  width: 50px;
  font-weight: bold;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 10px;
  font-size: 19px;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.card .clients1 .para {
  margin-left: 60px;
  margin-top: -25px;
}
.card .clients1 i {
  text-align: center;
  font-size: 8px;
  justify-content: end;
  color: #ffb300;
}
.card .clients1 p {
  font-size: 12px;
}
.card .clients2 {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: 50px;
  padding: 20px;
  
  height: 170px;
}
.card .clients2 .icone {
  justify-content: space-between;
  margin-left: 5px;
  background-color: #ffb300;
  height: 50px;
  width: 50px;
  font-weight: bold;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 10px;
  font-size: 19px;
  color: white;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.card .clients2 .para {
  margin-left: 60px;
  margin-top: -25px;
}
.card .clients2 i {
  text-align: center;
  font-size: 8px;
  justify-content: end;
  color: #ffb300;
}
.card .clients2 p {
  font-size: 12px;
}
.card .clients3 {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: 50px;
  padding: 20px;
  
  height: 170px;
}
.card .clients3 .icone {
  justify-content: space-between;
  margin-left: 5px;
  background-color: #36a51a;
  height: 50px;
  width: 50px;
  font-weight: bold;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 10px;
  font-size: 19px;
  border: 2px solid #ffb300;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.card .clients3 .para {
  margin-left: 60px;
  margin-top: -25px;
}
.card .clients3 i {
  text-align: center;
  font-size: 8px;
  justify-content: end;
  color: #ffb300;
}
.card .clients3 p {
  font-size: 12px;
}
.border {
  position: relative;
}
.contenair-img {
  background-size: cover;
  width: 100%;
  height: 350px;
  background-position: center;
  background-image: linear-gradient(
      rgba(223, 91, 20, 0.534),
      rgba(218, 94, 27, 0.596)
    ),
    url("image/banner-head-accueil.jpg");
}
.content-text {
  position: absolute;
  top: 20%;
  margin-left: 350px;
  color: white;
  text-align: center;
}
.button {
  position: absolute;
  bottom: 25%;
  margin-left: 550px;
  color: #e65100;
  text-align: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(1, 1, 18);
  color: #fff;
  gap: 10px;
  padding: 40px 0;
}

.footer {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  border-bottom: 1px solid #5e5c5c;
}

.footer p {
  font-weight: bold;
}

.footer ul li {
  color: gray;
  list-style: none;
}

@media screen and (max-width: 768px) {
  nav ul,
.btn1,
.btn2 {
    display: none;
}

  
  .footer {
    flex-direction: column;
    margin-left: 50px;
  }
  .content-text h1 {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 50px;
    color: white;
    width: 200px;
    color: white;
    font-size: 20px;
  }
  .content-text p {
    position: absolute;
    top: 20%;
    margin-top: 70px;
    margin-left: -20px;
    color: white;
    width: 100%;

    color: white;
    font-size: 12px;
  } 

  .localite iframe {
 
margin-left: 300px;
}
  .content-text {
  position: absolute;
  top: 20%;
  margin-left: 80px;
  color: white;
  text-align: center;
}
 .content-text p{
  width: 300px;
 }
.b
.button{
 
}
  .button h5 {
    position: absolute;
    bottom: 25%;
    margin-left: -450px;
    color: #e65100;
    text-align: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px;
    border-radius: 8px;
  }

  .card {
    flex-direction: column;
  }
.localite{
  width: 90%;

 
}
.localite iframe{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
   padding: 20px;
  
}

    .content-card {
        flex-wrap: wrap; 
    }

    .content-card .mention {
        width: 150%;
    }

.content-img img {
 width: 80%;
  margin-bottom: -150px;
  height: 38%;
    left: 180px;
}
.accueil{

    background-size: 50px auto, cover;
    background-position: bottom 10px right 10px, center;
 
  
}
.accueil-text h1{
  font-size: 30px;
}
/* .accueil-text{
  margin-left: 99px;
  width: 300px;
} */
.box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box .text-box{
  width: 70%;
}
.box .text-box1{
  width: 70%;
}
.box .text-box2{
  width: 70%;
}
.localite iframe{
 height: 250px;

}
.content-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    gap: 8px;
}
.content-card .mention{

 width: 80%;
}
.accueil{


}


.contenair-img img{
width: 100%;
}
}

